*{
    font-family: 'Nunito Sans', sans-serif;
    
}
.navbar {
    transition: all 0.4s;
    background: #fff;
}


.navbar .navbar-brand {
    color: #273167;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #2979FF;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #2979FF;
}



@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

body {
    min-height: 110vh;
    background: #F8F9FF;
    box-sizing: border-box;
}
.logo{
    height: 70px;
}
.carousel {
    width:90%;
    height:auto;
  }
  .foodter{
    background-image: url("../images/footer-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .list-unstyled .foodter__li {
    padding-bottom: 10px;
    opacity: 0.7;
    color: #273167;
  }
  
  .list-unstyled .foodter__li a{
    color: #273167;
  }
  .bg-partner{
      background:#EAF3FA;
  }
  .img-partner{
      width: 40%;
      height: auto;
  }
  .text-intro{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.header{
    color: #273167;
    font-weight: 800;
}
.header:after{
    background-color: #273167;
    bottom: -5px;
    height: 3px;
    width: 140px;
    position: relative;
    content: "";
    display: block;
  }
  .for{
      background-image: url('../images/about-bg.png');
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
  }
  p,a, li{
      font-weight: 700;
      font-size: 1rem;
  }
  .pull-right{
      float: right;
  }
  .login{
    background: url('../images/login.png') no-repeat center center fixed;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .display-none {
      display: none;
  }
  .login-form{
      background-color: #fff;
      height: 100vh;
      opacity: 0.8;
  }
  .input-group-text{
    background: #F2F2F2;
    border: none;
    font-size: 20px;
    padding: 10px 10px;
    color: #c7c3c3;
}
.form-custom, .form-custom:focus{
    background: #F2F2F2;
    border: none;
    font-size: 20px;
    padding: 10px 5px;
}

.font-1rem{
    font-size: 1rem;
}
.pointer{
    cursor: pointer;
}
.sider-bar{
    position: fixed;
    top: 120px;
    left: 60px;
    width: 22%;
    height: auto;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: rgb(153 196 227 / 25%) 0px 4px 5px; 
    border-radius: 10px;
}
.bd-none{
    border: none;
}
.user-bar{
    padding: 20px 10px 20px 25px;
    border-bottom: 1px solid #F2F2F2;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .avatar2 {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .menu-sider li {
    font-size: 18px;
    color: #3F3F7A;
    padding: 0;
  }
  .menu-sider a{
    font-size: 18px;
    color: #3F3F7A;
    padding: 10px 25px;
  }
  .menu-sider .active{
    background-color: #EFF3FF;
  }
  .f-400{
      font-weight: 400;
  }
  .f-700{
    font-weight: 900;
}
.f-900{
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #3F3F7A;
}
 .card-box{
    margin-bottom: none;
    border: none !important;
}
.nav-default .nav-link.active{
    background-color: #F8F9FF;
    color: #3F3F7A;
    border-bottom: 2px solid #2979FF!important;
}
.card-test{
    box-shadow: rgb(153 196 227 / 35%) 0px 4px 10px;
    border-radius: 12px;
}
.bd-input, .bd-input:focus{
    border: 1px solid rgb(229, 229, 229);
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.SelectMeno {

    width: 100%;
    
}
.SelectMeno > div {
    background-color: #EFF3FF;
}
.dropdownmenu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdownmenu:hover .dropdown-content {display: block;}
.card{
    box-shadow: rgb(153 196 227 / 35%) 0px 4px 10px;
}
.nav-item{
    padding-left: 20px;
}
.color-text{
    color: #3F3F7A;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #bbbbbb;
	background-image: -webkit-gradient(linear,
                                    40% 0%,
                                    75% 84%,
                                    from(#bbbbbb),
                                    to(#bbbbbb),
                                    color-stop(#bbbbbb))
}
.color-white{
    color: #fff;
}
.back-ground{
    background-color: #EFF3FF;
    
    
}
.bx{
    box-shadow: rgb(153 196 227 / 35%) 0px 4px 10px;
}
label, .text-input{
    font-size: 15px !important;
}
.uploadFileContainer {
    border: 1px dashed #8d9fc2;
    border-radius: 4px;
    height: 132px;
    font-size: 18px;
    position: relative;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 600;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-break: break-word;
    overflow-x: scroll;
    overflow: hidden;
    background-color: #fbfcff;
    color: #2c3345;
}
.uploadFileContainer i{
    color: green;
    font-size: 40px;
}
.fileUploadHidden {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
}
.font-normal {
    font-weight: 300;
    font-size: 13px;
}
.fileNameUpload {
    background-color: #dae6ff;
    padding: 5px 10px;
}
.pointer {
    cursor: pointer !important;
    margin-top: 5px;
    margin-left: 5px;
}
.bg-c{
    background-color: #18ce0f;
}
.bg-p{
    background-color: #fa7a50;
}
.bg-i{
    background-color: #4bb5ff;
}
.bg-w{
    background-color: #ffbe55;
}
.bg-d{
    background-color: #f44336;
}
.title{
    color: #fff;
}
.SelectDatetime{
    height: 38px;
   

}
.SelectDatetime > div {
    background-color: #EFF3FF;
    border-radius: 4px
}
.react-datetime-picker{
    width: 100%;
    
}
.react-datetime-picker__wrapper{
    border: none !important
}